data/countries.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="countries">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="country" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="country">
      <xs:complexType mixed="true">
         <xs:attribute name="capital" type="xs:string" use="required" />
      </xs:complexType>
   </xs:element>
</xs:schema>
